.sign-up-page{
  min-width: 75rem;

  .sign-up-body{
    background-color: rgb(238, 77, 45);
    display: block;
  
    .image-body{
      background-image: url(https://cf.shopee.sg/file/3aabe8d2d565d22f61e83397fc92c6ea);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 37.5rem;
      width: 65rem;
      min-height: 37.5rem;
      margin: 0px auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
  
      .form-wrapper{
        width: 24.8125rem;
        min-height: 26.6875rem;
        background-color: #fff;
        box-shadow: 0 3px 10px 0 rgba(0,0,0,.14);
        border-radius: .25rem;

        .form-title{
          min-height: 5rem;
          display: flex;
          align-items: center;
          padding: 1.375rem 1.875rem;
        }

        .form-body{
          display: flex;
          flex-direction: column;
          padding: 0 1.875rem 1.875rem;

          .phone-number-input{
            padding: .75rem;
            margin-bottom: 1.875rem;
            border: 1px solid rgba(0,0,0,.25);
            border-radius: 2px;
          }

          .phone-number-input:focus{
            outline: none !important; 
            border: 1px solid rgba(0,0,0,.75);
            border-radius: 2px;
          }

          .submit-form-button{
            background-color: #ee4d2d;
            opacity: .7;
            margin-bottom: 1.875rem;
            box-shadow: 0 1px 1px rgba(0,0,0,.09);
            outline: none;
            border: 0;
            padding: 0 .625rem;
            height: 2.5rem;
            color: #fff;
            text-transform: uppercase;
          }

          .seperator{
            display: flex;
            align-items: center;
            padding-bottom: .875rem;
          
            .left, .right{
              height: 1px;
              width: 100%;
              background-color: #dbdbdb;
              flex: 1;
            }
            .middle{
              color: #ccc;
              padding: 0 1rem;
              text-transform: uppercase;
              font-size: .75rem;
            }
          }

          .others-sign-up-method{
            display: flex;

            button{
              display: flex;
              align-items: center;
              margin: .3125rem;
              flex: 1;
              border-radius: 2px;
              font-size: .875rem;
              height: 2.5rem;
              outline: none;
              border: 0;
              cursor: pointer;
              color: #fff;
              font-weight: bold;

              .button-text{
                margin-right: .625rem;
              }
            }

            .logo-wrapper{
              width: 2.25rem;
              height: 2.25rem;
              border-radius: 1px;
              display: flex;
              justify-content: center;
              align-items: center;
            }

            .facebook-button{
              background-color: #1877f2;

              .facebook-logo{
                background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/dee4c9b853f18a1ce0571f6600ad2c5d.png);
                background-size: 372% 232%;
                background-position: 76.47058823529412% 15.151515151515152%;
                width: 1.375rem;
                height: 1.375rem;
              }
            }

            .google-button{
              background-color: #4285f4;

              .google-logo{

              }
            }

            .apple-button{
              background-color: #000;

              .apple-logo{

              }
            }

            .logo{
              width: 2.25rem;
              height: 2.25rem;
            }
          }

          .sign-up-policy{
            margin-top: 1.5625rem;
            font-size: 12px;
            color: rgba(0,0,0,.87);
            text-align: center;

            a{
              color: #ee4d2d;
              cursor: pointer;
              text-decoration: none;
            }
          }
        }

        .form-footer{
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 1.875rem;

          span{
            padding-right: .25rem;
            font-size: .875rem;
            color: rgba(0,0,0,.26);
          }

          a{
            text-decoration: none;
            color: #ee4d2d;
            font-size: .875rem;
            font-weight: bold;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.input-error{
  outline: none !important; 
  border: 1px solid #ee4d2d !important;
  background-color: rgb(255, 244, 242) !important;
  border-radius: 2px !important;
}